.home-container {
  max-width: 900px;
  height: 90vh;
  margin: 2rem  auto;
  padding: 2rem 1rem;
  background: var(--color-surface, #fff);
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.06);
  overflow-y: scroll;
    
  overflow-x: hidden;
}

.home-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-text, #202122);
  margin-bottom: 1rem;
  text-align: center;
}

.home-description {
  font-size: 1.2rem;
  color: var(--color-muted, #72777d);
  margin-bottom: 2rem;
  text-align: center;
}
