.footer {
  width: 100%;
  background: var(--color-primary);
  color: var(--color-text);
  border-top: 1px solid var(--color-border, #a2a9b1);
  text-align: center;
  padding: 1.2rem 0;
  font-size: 1.1rem;
  /* z-index: 100; */
    margin-top: auto;
    font-weight: 500;

}
